<!DOCTYPE html>
<html>

      <head>
            <link rel="stylesheet" href="styles.css" />
            <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
            <link rel="icon" href="./legomoroni.jpg">
            <title>BoM Notes Browser</title>
      </head>

      <body>
            <div class="centered" id="focus">
                  <h1 class="centered" id="title">Book of Mormon Notes</h1>
                  <div class="centered" id="app">
                        <div v-if="loading">
                              <p>Loading...</p>
                        </div>
                        <div v-else>
                              <div id="navigation" class="centered">
                                    <h2>Navigation</h2>
                                    <p><button v-on:click="previousChapter">Last Chapter</button>&nbsp;<button v-on:click="nextChapter">Next Chapter</button> </p>
                                    <i>{{bookTitle}}</i>
                                    <p><button v-on:click="previousBook">Last Book</button>&nbsp;<button v-on:click="nextBook">Next Book</button> </p>
                                    <i>Chapter {{chapterNumber + 1}}</i>
                                    <br>
                                    <br>
                              </div>

                              <content class="centered">
                                    <div>
                                          <h2>{{current.reference}}</h2>
                                          <p id="holytext" v-for="verse in current.verses">
                                                {{verse.verse}} {{verse.text}}
                                          </p>
                                    </div>
                                    <div id="commentary">
                                          <h3>Add an Insight</h3>
                                          <form v-on:submit.prevent="addComment">
                                                <input v-model="addedName" placeholder="Name"></p>
                                                <textarea v-model="addedComment"></textarea>
                                                <br />
                                                <button type="submit">Post</button>
                                          </form>
                                          <h3>Insights</h3>
                                          <hr>
                                          <insights>
                                                <pripomba v-for="comment in comments[chapterTracker]">
                                                      <p>{{comment.text}}</p>
                                                      <p><i>-- {{comment.author}}</i></p>
                                                      <p><i>Posted at: {{comment.time}}</i></p>
                                                </pripomba>
                                          </insights>
                                    </div>
                              </content>
                        </div>
                  </div>
            </div>
            <footer>
                  <a href="https://github.com/tnnrpickard/creativeproject3"><img src="http://pngimg.com/uploads/github/github_PNG20.png"></a>
            </footer>
            <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
            <script src="https://unpkg.com/vue-star-rating/dist/star-rating.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
            <script src="script.js"></script>
      </body>


</html>