body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    background: #bdb9ae;
    margin: auto;
}

button {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
}

footer {
    width: 100%;
    margin: 0 0;
    bottom: 0;
    text-align: left;
    background-color: gray;
}

img {
    max-height: 50px;
}

insights {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 5px;
}

pripomba {
    width: 33%;
}

textarea {
    width: 100%;
    max-width: 500px;
    height: 100px;
}

.centered {
    text-align: center;
}

#focus {
    margin-left: 2.5%;
    margin-right: 2.5%;
    max-width: 95%;
    min-width: 90%;
    
}

#navigation {
    text-align: center;
    border-style: ridge;
    border-width: 8px;
    border-color: white;
    margin: auto;
    max-width: 400px;
}

#title {
    text-shadow: 2px 2px #a1a1a1;
}

#holytext {
    text-align: justify;
}